@use '../styles/_index.scss' as *;

.input {
  width: 100%;
  min-height: 2.25rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  color: $color-white;
  outline: none;
  transition: box-shadow 150ms, border-color 150ms;
}

.input:focus {
  box-shadow: 0 0 0 4px rgba(124, 58, 237, 0.08);
  border-color: rgba(124, 58, 237, 0.9);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
